@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --bg-color: #000;
    --text-color: white;
    --text-2-color: #808080;
    --borders-color: #333;
    --code-color: #252525;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
}

.scroll-to-bottom {
    transform: translateY(10px);
    animation: scrollToBottom 1s forwards;
}
@keyframes scrollToBottom {
    100% {
        transform: translateY(0);
    }
}