@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

* {
    scrollbar-width: 2px;
}

:root {
    --bg-color: #000;
    --text-color: white;
    --text-2-color: #808080;
    --borders-color: #333;
    --code-color: #252525;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
}

.scroll-to-bottom {
    transform: translateY(10px);
    animation: scrollToBottom 1s forwards;
}
@keyframes scrollToBottom {
    100% {
        transform: translateY(0);
    }
}

.ispinner {
    position: relative;
    width: 20px;
    height: 20px;
}
.ispinner .ispinner-blade {
    position: absolute;
    top: 6.5px;
    left: 8.5px;
    width: 2.5px;
    height: 6.5px;
    background-color: #000;
    border-radius: 1.25px;
    animation: iSpinnerBlade 1s linear infinite;
    will-change: opacity;
}
.ispinner .ispinner-blade:nth-child(1) {
    transform: rotate(45deg) translateY(-6.5px);
    animation-delay: -1.625s;
}
.ispinner .ispinner-blade:nth-child(2) {
    transform: rotate(90deg) translateY(-6.5px);
    animation-delay: -1.5s;
}
.ispinner .ispinner-blade:nth-child(3) {
    transform: rotate(135deg) translateY(-6.5px);
    animation-delay: -1.375s;
}
.ispinner .ispinner-blade:nth-child(4) {
    transform: rotate(180deg) translateY(-6.5px);
    animation-delay: -1.25s;
}
.ispinner .ispinner-blade:nth-child(5) {
    transform: rotate(225deg) translateY(-6.5px);
    animation-delay: -1.125s;
}
.ispinner .ispinner-blade:nth-child(6) {
    transform: rotate(270deg) translateY(-6.5px);
    animation-delay: -1s;
}
.ispinner .ispinner-blade:nth-child(7) {
    transform: rotate(315deg) translateY(-6.5px);
    animation-delay: -0.875s;
}
.ispinner .ispinner-blade:nth-child(8) {
    transform: rotate(360deg) translateY(-6.5px);
    animation-delay: -0.75s;
}
.ispinner.ispinner-large {
    width: 35px;
    height: 35px;
}
.ispinner.ispinner-large .ispinner-blade {
    top: 11.5px;
    left: 15px;
    width: 5px;
    height: 12px;
    border-radius: 2.5px;
}
.ispinner.ispinner-large .ispinner-blade:nth-child(1) {
    transform: rotate(45deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(2) {
    transform: rotate(90deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(3) {
    transform: rotate(135deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(4) {
    transform: rotate(180deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(5) {
    transform: rotate(225deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(6) {
    transform: rotate(270deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(7) {
    transform: rotate(315deg) translateY(-11.5px);
}
.ispinner.ispinner-large .ispinner-blade:nth-child(8) {
    transform: rotate(360deg) translateY(-11.5px);
}

/* color: white */
.ispinner-w {
    position: relative;
    width: 20px;
    height: 20px;
}
.ispinner-w .ispinner-w-blade {
    position: absolute;
    top: 6.5px;
    left: 8.5px;
    width: 2.5px;
    height: 6.5px;
    background-color: rgb(255, 255, 255);
    border-radius: 1.25px;
    animation: iSpinnerBlade 1s linear infinite;
    will-change: opacity;
}
.ispinner-w .ispinner-w-blade:nth-child(1) {
    transform: rotate(45deg) translateY(-6.5px);
    animation-delay: -1.625s;
}
.ispinner-w .ispinner-w-blade:nth-child(2) {
    transform: rotate(90deg) translateY(-6.5px);
    animation-delay: -1.5s;
}
.ispinner-w .ispinner-w-blade:nth-child(3) {
    transform: rotate(135deg) translateY(-6.5px);
    animation-delay: -1.375s;
}
.ispinner-w .ispinner-w-blade:nth-child(4) {
    transform: rotate(180deg) translateY(-6.5px);
    animation-delay: -1.25s;
}
.ispinner-w .ispinner-w-blade:nth-child(5) {
    transform: rotate(225deg) translateY(-6.5px);
    animation-delay: -1.125s;
}
.ispinner-w .ispinner-w-blade:nth-child(6) {
    transform: rotate(270deg) translateY(-6.5px);
    animation-delay: -1s;
}
.ispinner-w .ispinner-w-blade:nth-child(7) {
    transform: rotate(315deg) translateY(-6.5px);
    animation-delay: -0.875s;
}
.ispinner-w .ispinner-w-blade:nth-child(8) {
    transform: rotate(360deg) translateY(-6.5px);
    animation-delay: -0.75s;
}
.ispinner-w.ispinner-w-large {
    width: 35px;
    height: 35px;
}
.ispinner-w.ispinner-w-large .ispinner-w-blade {
    top: 11.5px;
    left: 15px;
    width: 5px;
    height: 12px;
    border-radius: 2.5px;
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(1) {
    transform: rotate(45deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(2) {
    transform: rotate(90deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(3) {
    transform: rotate(135deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(4) {
    transform: rotate(180deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(5) {
    transform: rotate(225deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(6) {
    transform: rotate(270deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(7) {
    transform: rotate(315deg) translateY(-11.5px);
}
.ispinner-w.ispinner-w-large .ispinner-w-blade:nth-child(8) {
    transform: rotate(360deg) translateY(-11.5px);
}

@keyframes iSpinnerBlade {
    0% {
        opacity: 0.85;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

#chat-scrollable {
    animation: chatScrollable 600ms forwards;
    opacity: 0;
}

@keyframes chatScrollable {
    100% {
        opacity: 1;
    }
}

.message {
    animation: message 150ms forwards;
    font-size: 0;
    opacity: 0;
    max-width: 70%;
    transform: translateX(-150px);
    transform-origin: 100% 50%;
}

@keyframes message {
    100% {
        opacity: 1;
        transform: translateX(0);
        font-size: 14px;
    }
}

.message-time {
    animation: messageTime 150ms forwards;
    font-size: 0;
}

@keyframes messageTime {
    100% {
        opacity: 1;
        font-size: 10px;
    }
}

.more_options {
    animation: moreOptions 300ms forwards;
    transform: translateY(-20px) scale(0.7);
    opacity: 0;
}

@keyframes moreOptions {
    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.scale_opacity_anim_300_0_origin {
    animation: scaleOpacity 300ms forwards;
    scale: 0.6;
    transform-origin: 0% 0%;
    opacity: 0;
}

.scale_opacity_anim_300 {
    animation: scaleOpacity 300ms forwards;
    scale: 0.6;
    opacity: 0;
}

@keyframes scaleOpacity {
    100% {
        scale: 1;
        opacity: 1;
    }
}

.back_drop_anim_300 {
    animation: backDrop 300ms forwards;
    backdrop-filter: blur(0px);
}

@keyframes backDrop {
    100% {
        backdrop-filter: blur(4px);
    }
}

.opacity_anim_300 {
    animation: opacityAnimation 300ms forwards;
    opacity: 0;
}

@keyframes opacityAnimation {
    100% {
        opacity: 1;
    }
}

.scale_anim_300 {
    animation: scaleAnimation 300ms forwards;
    scale: 0.6;
    transform-origin: 0% 0%;
}

@keyframes scaleAnimation {
    100% {
        scale: 1;
    }
}

.unread_open {
    height: 0px;
    margin: 0px 0px;
    animation: unreadOpen 300ms forwards;
}
@keyframes unreadOpen {
    100% {
        height: 24px;
        margin: 4px 0px;
    }
}

.unread_close {
    height: 24px;
    margin: 4px 0px;
    animation: unreadClose 300ms forwards;
}
@keyframes unreadClose {
    100% {
        margin: 0px 0px;
        height: 0px;
    }
}

.background_color_duration_300 {
    transition: background-color 300ms;
}

.show_message {
    background-color: rgb(32, 32, 32);
}

.fade_in_anim {
    opacity: 0;
    animation: fadeInAnimation 500ms forwards;
}
@keyframes fadeInAnimation {
    100% {
        opacity: 1;
    }
}

.button_shadow {
    box-shadow: 0px 0px 400px 42px #3b83f6;
}

.button_shadow_hover {
    box-shadow: 0px 0px 0px 0px #00000000;
}

.anim_delay_100 {
    animation-delay: 100ms;
}
.anim_delay_200 {
    animation-delay: 200ms;
}
.anim_delay_300 {
    animation-delay: 300ms;
}
.anim_delay_400 {
    animation-delay: 400ms;
}
.anim_delay_500 {
    animation-delay: 500ms;
}
.anim_delay_600 {
    animation-delay: 600ms;
}
.anim_delay_700 {
    animation-delay: 700ms;
}

.menu_message_transition {
    transition: color 200ms, opacity 200ms 300ms;
}

.h_screen {
    height: 100vh;
    height: 100dvh;
}
